.form{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form__group input{
    width: 20rem;
    height: 2rem;
    margin: .5rem;
    padding: .5rem;
}

.submit{
    width: 6rem;
    height: 2rem;
    margin: .5rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: .2rem;
}

.form a{
    font-weight: 600;
    margin: .5rem;
}